/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&family=Open+Sans:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background-color: #252525; */
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: linear-gradient(45deg, #252525 50%, #ff99dd 300%);
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #252525, #b00, #c00, #d00, #e00, red, red, #e00, #d00, #c00, #b00, #252525);
  border-image-slice: 1;
  z-index: 1;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url('https://picsum.photos/id/10/1200/400');
  background-size: cover; */
  background-position: center;
  filter: brightness(0.9);
}

.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

.header-content h1 {
  font-family: 'Exo 2';
  font-size: 3em;
}

/* Side menu styles */

#side-menu {
  background-color: #252525;
  color: white;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: -200px;
  transition: all 0.2s ease;
  z-index: 2;
  border-right: 2px solid white;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 0px;
  margin-right: 15px;
  margin-left: 10px;

}

#logo {
  position: absolute;
  top: 30px;
  max-height: 75%;
  max-width: 75%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.image-seperator{
  width: 90%;
  position: absolute;
  top: 192px;
  left: 4%;
  border-color: #e00;
}

.options-container {
  margin-top: 0;
  position: fixed;
  width: 200px;
  height: 62%;
  position: relative;
}

.options-list {
  padding-top: 20px;
  position: relative;
  top: 25px;
  right: 0;
  height: 65%;
  max-height: 65%;
  overflow-y: auto;
  border: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.options-list::-webkit-scrollbar {
  display: none;
}
.options-seperator{
  width: 90%;
  position: absolute;
  top: calc(192px + 60%);
  left: 4%;
  border-color: #e00;
}

#side-menu h2 {
  font-family: 'Exo 2';
  text-align: start;
  padding: 10px;
  margin-top: 20px;
}

#side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-right: 0;
}

#side-menu li {
  /* border-top: 2px solid red;
  border-top-right-radius: 14px; */
  margin-top: 10px;
  border-left: 1px solid #e00;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.delete-category:hover{
  color:#e00;
}

/* #side-menu li:first-child {
  border-bottom: none;
} */

#side-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  width: 100%;
}

.new-category-input {
  padding: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.758);
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Open Sans';
  font-size: 16px;
}


#side-menu a:hover,
#side-menu a:active,
.selected{
  font-weight: bold;
  background: linear-gradient(to right, #f00, rgb(156, 10, 169));
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}

#side-menu a:active {
  background-color: rgb(156, 10, 169); /* fallback color */
  background-image: none; /* disable the gradient */
}

#add_option_button {
  background-color: transparent;
  border: 2px solid white;
  color: red;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#add_option_button:hover {
  box-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
  transition: 0.3s;
}

/* Toggle Button Stiles*/

#show-menu,
#hide-menu {
  display: block;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

/* Menu Animations*/

.flip-button {
  position: relative;
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotateY(0);
  }

  to {
    -webkit-transform: perspective(400px) rotateY(180deg);
  }
}

@keyframes flip {
  from {
    transform: perspective(400px) rotateY(0);
  }

  to {
    transform: perspective(400px) rotateY(180deg);
  }
}

.fade-in-right {
  opacity: 1;
  transform: translateX(0px);
  animation: fadeInRight 0.5s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-202px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-left {
  opacity: 1;
  transform: translateX(-202px);
  animation: fadeOutLeft 0.5s ease;
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-202px);
  }
}


.notes-menu {
  margin-top: 210px; 
  width: 100%;
}

.notes-menu-elements {
  border: none;
  position: fixed;
  right: 20px;
  width: calc(80% + 24px);
  margin-left: 20px;
  margin-top: 0;
  height: 15%;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: top;  
  padding: 0 20px;
  z-index: 1;
  /* margin: 10px; */
}

.fullscreen-width {
  width: calc(100% - 80px);
  right: 0;
  left: 0;
  margin-left: 20px;
  /* transition: width 0.5s ease-in-out, /*margin-left 0.5s ease-in-out; */
}

#notes-menu-header {
  font-size: 30px;
  margin-top: 15px;
  position: absolute;
  top:0;
}

#add-accordion-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  margin: 20px;
  margin-right: 0;
  position: fixed;
  top: 210px;
  right: 30px;
  z-index: 1; 
}

#add-accordion-button:hover {
  box-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
  transition: 0.3s;
}

/* Main Styles*/

.main-content-container {
  padding-top: 90px;
}

.main-content {
  margin-left: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1500px;
}

.shifted-right {
  margin-left: 200px;
  transition: margin-left 0.1s;
}

#home-screen-container {
  border: none;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  align-items: start;
  background-color: transparent;
  margin-bottom: 1500px;
  font-size: 25px;
}

#home-screen-container h1 {
  font-family: 'Exo 2';
  background-color: transparent;
}

.accordion-container {
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 15px;
}

.accordion-container-saved {
  border: 2px solid #0e0;
}

.accordion {
  background-color: #ffffff10;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  border-bottom: 2px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.active,
.accordion:hover {
  background-color: #252525;
}

.accordion-input {
  padding: 15px;
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: bold;
  border: none;
  outline: none;
}

.accordion-title {
  display: flex;
  align-items: center;
}

.delete-accordion {
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  vertical-align: middle;
}

.delete-accordion:hover {
  color: #e00;
}


.save-accordion {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 2;
}

.save-accordion:hover {
  color: #0e0;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.panel {
  position: relative;
  padding: 0 15px;
  background-color: #252525;
  color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel-content {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: bold;
  width: 100%;
  border: none;
  outline: none;
  height: 150px;
  margin-top: 10px;

}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-right: 35px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}


footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container a {
  background-color: black;
}